.calculator{
  display: grid;
  place-items: center;
 height: 100vh; 
}

.inside{
  display : grid ;
  grid-template-columns: repeat(4 , 1fr);
  gap:0.5px;
}

.main-box{
  height :200 px ;
  width : 200 px ;
  margin :15 px ;
  padding: 15 px ;
  border : solid 2px ;
  background-color: aquamarine;
  /* border-spacing: 5px; */
}

.box{
 
  font-size: 3 px;
  border-spacing: 1px;
}

.equal-to{
  background-color:rgb(105, 211, 250);
}

.clear{
   background-color: rgb(240, 88, 88);
}